@content-min-height: calc(100vh - 134rem);
.ant-header {
  height: 64rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  background: @bg-500;
}

.tooltip{
  border-radius: @border-radius-600;
}

.content{
  width: 100%;
  margin-top: 64rem;
  min-height: @content-min-height;
}

.footer{
  height: 70rem;
  width: 100%;
  text-align: center;
  background: @bg-500;
}