.detail {
  .detail-author {
    padding-bottom: 20rem;
    &__item {
      font-weight: bold;
      margin-bottom: 5rem;
      img {
        width: 25rem;
        height: 25rem;
        border-radius: 50%;
        margin-right: 5rem;
      }
      span {
        font-size: 12rem;
        font-weight: lighter;
      }
    }
  }
  min-height: @content-min-height;
  background: @bg-700;
  padding: 50rem 0;

  .ant-card-body {
    padding-bottom: 0;
  }

  .detail-content {
    &--less {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.detail-header {
  display: flex;
  flex-direction: column;
  &-top {
    display: flex;
    border-bottom: 1px solid @text-color-secondary;
  }

  &-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    .ant-tabs > .ant-tabs-nav .ant-tabs-nav-list {
      .ant-tabs-tab {
        padding: 20rem 0;
      }
      border: none;
    }
    .ant-tabs-top > .ant-tabs-nav::before {
      border: none;
    }
    .ant-tabs-top > .ant-tabs-nav {
      margin-bottom: 0;
    }
    &__tabs {
      width: 100%;
    }
  }

  &__left {
    width: 80%;

    display: flex;
    padding-bottom: 20rem;
  }
  &__left-image {
    margin-top: -50rem;
    width: 150rem;
    height: 200rem;
    background-position: center;
    background-size: cover;
    margin-right: 20rem;
  }

  &__left-body {
    width: 100%;
    border-right: 1px solid @text-color-secondary;
    padding-right: 20rem;
    margin-right: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
      display: flex;
      flex-direction: column;
      .title {
        font-size: 22rem;
        font-weight: bold;
      }
      .sub-title {
        font-size: 14rem;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      .evaluate {
      }
      .sourcestation {
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    color: @text-color-secondary;
    .title {
      font-size: 12rem;
    }

    .score {
      font-size: 50rem;
      color: @main-color;
      font-weight: bolder;
    }

    .total {
    }
  }
}

.detail-preview-card {
  width: 100%;
  padding-bottom: 20rem;
  &__item {
    display: flex !important;
    width: 100%;
    height: 400rem;
    justify-content: center;
    align-content: center;

    img {
      height: 400rem;
      width: auto;
    }
  }
  &__bottom {
    overflow: auto;
    display: flex;
    align-content: center;
    &__image {
      flex-shrink: 0;
      width: 80rem;
      height: 100rem;
      margin-right: 10rem;
      background-position: center !important;
      background-size: cover !important;
      &&--selected {
        border: 2px solid @main-color;
      }
    }
  }
}

.detail-summary {
  width: 100%;
  margin-bottom: 15rem;
  &__title {
    font-size: 16rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
  }
  &__content {
  }
  &__item {
    width: 100%;
    flex-shrink: 0;
    background: @bg-600;
    border-radius: @border-radius;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__item-data {
    font-size: 25rem;
    color: @main-color;
    margin-bottom: 3rem;
  }
  &__item-title {
    font-size: 12rem;
  }
}

.hero-attribute {
  width: 100%;

  &__title {
    font-size: 16rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
  }
  &__level-bar {
    margin-bottom: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    .progress {
      margin: 0 10rem;
    }
  }

  &__body {
    &__item {
      background: @bg-600;
      border-radius: @border-radius;
      padding: 5rem 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__item-title {
      font-size: 12rem;
      margin-bottom: 3rem;
    }

    &__item-data {
      font-size: 18rem;
      font-weight: bold;
    }
  }
}

.hero-talent {
  &__title {
    font-size: 16rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
  }
  .hero-talent-card {
    background: @bg-600;
  }
  width: 100%;
  &__level-item {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25rem;
    .level-line {
      &::before {
        position: absolute;
        content: "";
        height: 120%;
        bottom: 115%;
        transform: translateX(-50%);
        border: 1px solid @main-color;
      }
    }
    &__level {
      position: relative;
      flex-shrink: 0;
      padding: 15rem 15rem;
      margin: 0 20rem;

      .level-number {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        line-height: 30rem;
      }

      &::before {
        text-align: center;
        line-height: 30rem;
        color: @main-color;
        font-weight: bolder;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        content: "";
        border: 3px solid @main-color;
        transform: rotate(45deg);
      }
    }
    &__body {
      width: 40%;
      display: flex;
      padding: 5rem;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      justify-content: center;
      .item-title {
        text-align: center;
        width: 100%;
        font-size: 16rem;
        font-weight: bold;
        margin-bottom: 10rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .item-content {
        width: 100%;
        font-size: 12rem;
        display: flex;
        justify-content: space-around;
        align-items: center;

        span:nth-child(2) {
          color: @main-color;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero-talent {
    &__level-item {
      &__level {
      }
      &__body {
        .item-title {
          font-size: 16rem;
        }
        .item-content {
          span:nth-child(1),
          span:nth-child(3) {
            display: none;
          }
        }
      }
    }
  }
}
